.knTarjetas .card-body{
    padding-bottom: 5px;
}
.knTarjetas .knGrado{
    width: 40px;
}
.knTarjetas .blog-image{
    margin-top: -45px;
    position: relative;
    margin-bottom: 5px;
}
.knTarjetas img{
    margin-bottom: 0;
    margin-bottom: 0 !important;
}
 .knTitulo{
    position: absolute;
    bottom: 0px;
    top: 0px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    text-align: center;
    /* font-size: 16px; */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(5,31,55,1) 120%);
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.knTarjetas .data{
    padding-top: 0;
}
.popover-body {
    color: #d9d9d9;
}
.popover.bs-popover-auto[x-placement^=bottom] .arrow::after, .popover.bs-popover-bottom .arrow::after {
    top: -10px;
    border-bottom-color: #383f48;
}
.versionHide,
.retoHide,
.gradoHide,
.tituloHide{
    display: none !important;
}


