.submit{
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    font-size: 100px;
    outline:none;
}
.submit:active { outline: none } 
.submit:focus { outline:none }