.row{
    padding-top: 20px;
}

table.automatizacion tr table th,
table.automatizacion tr table td{
    padding: 0;
    background-color: #373e47;
    border: 1px solid #747d8a;
    padding-left: 12px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
    }
}
@media (min-width: 960px){
    .modal-dialog {
        max-width: 940px;
        margin: 30px auto;
    }
}
table.automatizacion tr table td{
    width: 80%;
}
@media (min-width: 768px){
    table .d-md-block {
        display: table-cell!important;
    }
}
.feeds li:hover {
    background: #383f48 !important;
}

.container-fluid{
    max-width: 1300px;
    margin: 0 auto;
}