.demo-switch-title.col-8 {
    padding-right: 0px;
}
.switch.col-4 {
    padding: 0;
}
.vtabs .tabs-vertical {
    width: 50px;
} 
.vtabs .tab-content {
    padding-right: 0;
}
iframe{
    width: 1024px;
    height: 768px;
    transform: scale(0.5);
    transform-origin: top left;
}
#datos .imgOption{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 180px;
}