.form-control{
    padding: 0.3rem .75rem;
}
#nuevo-recurso,
#filtrar-recursos{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#filtrar-recursos{
    right: 85px;
}
.right-sidebar label{
    width: 100%;
}
.expander::after {
    font: 14px/1 FontAwesome;
    content: '\f105';
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}
.expander.collapsed::after {
    color: #76838f;
    /* font: 14px/1 FontAwesome; */
    content: '\f105' !important;
}
.expander::after {
    color: #76838f;
    content: '\f107';
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

